*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;
}
.row{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 50px;
    /* grid-gap: 10px 20px; */
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
.item {
    color: #fff;
    background-color: green;
    font-weight: bold;
    text-align: center;
    border: 1px solid palegoldenrod;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_1{
    grid-column: 1/3;
}
/* thực tế */
.thucte{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
    
}
.anh{
    color: #fff;
    background-color: green;
    font-weight: bold;
    text-align: center;
    border: 1px solid palegoldenrod;
}
.thucte .anh1{
    grid-row: 1/3;
}
.thucte .anh img{
    width:  100%;
   height: 100%;
    object-fit: cover;
    object-position: center;
}