*{
    margin: 0;
    padding: 0;
}
/* các bước để viết hiệu ứng keyframe 
- Xác định hiệu ứng cần viết
- Xác định các thuộc tính đã sử dụng và kịch bản 
- Code trong keyframe */
.container{ 
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
/* dinh nghia hieu ung */
@keyframes changeColor {
    from{
        border: 4px solid green;
        color: black;
    }to{
        color: blue;
        border: 4px solid red;
    }
    
}
.block{
    padding: 50px;
    text-align: center;
    font-size: 30px;
    animation-name: changeColor;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}